services:
  n8n:
    image: n8nio/n8n:2.0.0
    ports:
      - "5678:5678"
      - "5679:5679"
    environment:
      - GENERIC_TIMEZONE=Asia/Taipei
      - NODES_EXCLUDE=""
      - N8N_RUNNERS_ENABLED=true
      - N8N_RUNNERS_MODE=external
      - N8N_RUNNERS_DISABLED_MODES=embedded
      - N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
      - N8N_RUNNERS_BROKER_PORT=5679
      - N8N_RUNNERS_AUTH_TOKEN=my-super-secret-token-123
      - N8N_RUNNERS_JAVASCRIPT_ENABLED=true
      - N8N_RUNNERS_PYTHON_ENABLED=true
    volumes:
      - ./n8n_data:/home/node/.n8n
    depends_on:
      - task-runners
    restart: always

  task-runners:
    image: custom-n8n-runner
    build: 
        context: .
        dockerfile: Dockerfile
    
    environment:
      - N8N_RUNNERS_TASK_BROKER_URI=http://n8n:5679
      - N8N_RUNNERS_AUTH_TOKEN=my-super-secret-token-123
      - N8N_RUNNERS_LAUNCHER_LOG_LEVEL=debug
    restart: always

